@use "../abstracts/variable" as variable;

@mixin btn {
    color: variable.$color-primary;
    font-family: variable.$font-bold;
    font-size: larger;
    text-decoration: none;
    background-color:variable.$color-bann;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
}