// COLOR SYSTEM
$color-primary:#000;
$color-secondary:#fff;
$color-terciory:#e7816b;
$color-bann:#fff;

// FONTS
$font-bold: "Lato Bold";
$font-regular: "Lato Regular";
 
// RESPONSIVE
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
