@use "../abstracts/variable" as variable;

.banniere {
    margin-top: 2rem;
    padding: 2rem 3rem 5rem 2rem;
    background-color: variable.$color-terciory;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}