@use "../abstracts/variable" as variable;
@use "../base/font" as font;

header {
    display: flex;
    justify-content: space-between;

    img {
        width: 25%;
        height: 25%;
    }
    ul {
        display: flex;

        li {
            list-style: none;
            margin-right: 2rem;
            margin-top: 0;

        }
        a {
            text-decoration: none;
            font-family: variable.$font-regular;
            color: variable.$color-primary;
        }

    }

}