@use "../abstracts/variable" as variable;

.features {
    margin: 0.5rem 3rem 0 5rem;
    .wave {
        z-index: -1;
        position: absolute;
        margin-left: -13rem;
        margin-top: -22rem;
    }
    
    
    h2  {
        text-align: right;
        margin-bottom: 5rem;
    }
    i  {
        color: variable.$color-terciory;
        transform: scale(3)
    }
        .block-card {   
    
    
            display: flex;
            justify-content: space-around;
            
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20%;
            }
            h4 {
                margin-bottom: 0;
            }
            p {
                color: variable.$color-primary;
                text-align: center;
            }
            
        }
    

}
