@use "../abstracts/variable" as variable;
@use "../base/font" as font;
@use "../components/img" as img;

.container {
    .services {
        margin-top: 2rem;
        min-height: 500px;
        margin-bottom: 7rem;

        width: 100%;
        .passeport {
            width: 100%;
            margin-right: 1rem;
        
        }
        .passeport {
            display: flex;
            height: 100%;

            h3 {
                text-align: center;
            }
            p  {
                text-align: center;
            }
            p::after {
                content: ">";
                color: orange;
            }
            
        }
            .srv1 {
                background:linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.692)), url(/assets/img/homme-assis-batiment.jpg);
                background-size: cover;
                background-position: center;
                height: 100%;
                width: 100%;
            }
            .srv2 {
                background:linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.692)), url(/assets/img/passport.jpg);
                background-size: cover;
                background-position: center;
                height: 100%
            }
            .srv3 {
                background:linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.692)), url(/assets/img/montgolfiere.jpg);
                background-size: cover;
                background-position: center;
                height: 100%;
                margin-top: 0.5rem;
            }
        .right {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
        }


    }

}
@media screen and (max-width: 768px) {
.container{
    .services {
        width: 100%;
        margin-bottom: 15rem;
        .srv2  {
            width: 100%;
            min-height: 300px;
        }
        .srv3  {
            width: 100%;;
            margin-bottom: 1rem;
            min-height: 300px;
        }
        .passeport   {
            flex-direction: column;
            height: 100%;
            .srv1  {
                width: 100%;
                margin-bottom: 1rem;
                min-height: 200px;
            }

        }
        .left {


        }
    }
}

    
}
