@use "../abstracts/variable" as variable;
@use "../components/block-info" as block;
@use "../components/btn" as btn;

.banniere {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .txt {
        width: 80%;
        margin-left: 3rem;
        p{
            margin-top: 0;
            margin-bottom: 4rem;
        }
        h1{
            margin-bottom: 1rem;
        }

    }
    div {
        width: 30%;
        margin-right: 10rem;

        
        img {
            width: 100%;
            margin-bottom: -28rem;
            margin-left: 2rem;
            
        }

    }

}