@font-face {
  font-family: "Lato Bold";
  src: url(/assets/font/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato Regular";
  src: url(/assets/font/Lato/Lato-Regular.ttf);
}
body {
  font-family: "Lato Regular";
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  font-family: "Lato Bold";
  color: #fff;
  font-size: 3rem;
}

h2 {
  font-family: "Lato Bold";
  color: #000;
  font-size: 2rem;
}

h3 {
  font-family: "Lato Bold";
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

h4 {
  font-family: "Lato Bold";
  font-size: 1.5rem;
}

h5 {
  font-family: "Lato Bold";
  color: #fff;
  margin-bottom: 0;
}

p {
  font-family: "Lato Regular";
  color: #fff;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
}
.container img {
  width: 25%;
}
.container ul {
  display: flex;
}
.container ul li {
  list-style: none;
  margin-right: 2rem;
  margin-top: 0;
}
.container ul a {
  text-decoration: none;
  font-family: "Lato Regular";
  color: #000;
}

.banniere {
  margin-top: 2rem;
  padding: 2rem 3rem 5rem 2rem;
  background-color: #e7816b;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.btn {
  color: #000;
  font-family: "Lato Bold";
  font-size: larger;
  text-decoration: none;
  background-color: #fff;
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  border-radius: 3px;
  box-shadow: 0px 0px 5px black;
}

.ban-top {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.ban-top .txt {
  width: 80%;
  margin-left: 3rem;
}
.ban-top .txt p {
  margin-top: 0;
  margin-bottom: 4rem;
}
.ban-top .txt h1 {
  margin-bottom: 1rem;
}
.ban-top div {
  width: 30%;
  margin-right: 10rem;
}
.ban-top div img {
  width: 100%;
  margin-bottom: -34rem;
}

.picture {
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  align-items: center;
  align-content: center;
}

.container .services {
  margin-top: 2rem;
  width: 100%;
}
.container .services .passeport {
  width: 100%;
  margin-right: 1rem;
  margin-top: 5.7rem;
}
.container .services .passeport {
  display: flex;
}
.container .services .passeport h3 {
  text-align: center;
}
.container .services .passeport p {
  text-align: center;
}
.container .services .passeport p::after {
  content: ">";
  color: orange;
}
.container .services .srv1 {
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.692)), url(/assets/img/homme-assis-batiment.jpg);
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: 100%;
}
.container .services .srv2 {
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.692)), url(/assets/img/passport.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.container .services .srv3 {
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.692)), url(/assets/img/montgolfiere.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: 0.5rem;
}
.container .services .right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.container .features .wave {
  z-index: -1;
  position: absolute;
  margin-left: -13rem;
  margin-top: -28rem;
  width: 100%;
}
.container .features h2 {
  text-align: right;
  margin-bottom: 5rem;
}
.container .features i {
  color: #e7816b;
  transform: scale(3);
}
.container .features .block-card {
  display: flex;
  justify-content: space-around;
}
.container .features .block-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.container .features .block-card h4 {
  margin-bottom: 0;
}
.container .features .block-card p {
  color: #000;
  text-align: center;
}

.ban-bot {
  display: flex;
  justify-content: space-between;
  align-content: center;
  transform: translateY(-2rem);
}
.ban-bot div {
  width: 50%;
}
.ban-bot div h2 {
  color: #fff;
}
.ban-bot .btn-bot {
  width: 23%;
  margin-top: 2rem;
  align-content: center;
}

footer {
  margin-top: -11rem;
  background-color: black;
  padding-top: 12rem;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: white solid 1px;
  padding-bottom: 2rem;
}
footer .footer-top .Logo-white {
  width: 50;
}
footer .footer-top .Logo-white img {
  width: 50%;
}
footer .footer-top ul {
  display: flex;
}
footer .footer-top ul li {
  list-style: none;
  margin-right: 2rem;
  margin-top: 0;
}
footer .footer-top ul a {
  text-decoration: none;
  font-family: "Lato Regular";
  color: #fff;
}
footer .footer-bot {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-bottom: 5rem;
}
footer .footer-bot .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
}
footer .footer-bot i {
  color: #fff;
  margin-left: 2rem;
  transform: scale(2);
}
footer .footer-bot p {
  margin: 0;
  text-align: start;
}

/*# sourceMappingURL=style.css.map */
